table,
.mat-table {
  margin-top: -40px;
  /* width: 100%; */
  width: 100%;
}

.mat-header-cell {
  /* color: #555555; */
  background-color: #d8d1d1;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 25vw;
}

.mat-column-id {
  /* border-right: 1px solid currentColor; */
  padding-right: 24px;
  text-align: center;
}
